*{
    margin: 0px;
    padding: 0px;
}
ul{
    list-style: none;
}

html{
    scroll-behavior: smooth;}
body{ 
    font-family: 'Roboto', sans-serif;
    font-weight: ;
    background-color: #ebf3f7;

}
            header{
                margin-bottom: 40px 0px;
                padding: 20px;
                            }
header nav ul{
    list-style: none;
    display:flex;
    justify-content: end;
}
header nav ul li {
    margin-right: 15px;
}
/* комммменты */ 
header nav ul li a{ 
color: rgb(2, 2, 2);
text-decoration: none; /* подчёркивание убирает*/
font-size: 21px;
line-height: 25px; /*интервал*/
font-weight: bold;
border: 2px solid #000;
padding: 5px 10px;
border-radius: 20px;
display: block;
transition: all 0.3s;

}
header nav ul li a:hover{
background: linear-gradient(75deg, rgb(12, 185, 113) 0% ,rgb( 104,148,102) 100%);
color:#fff;
transition: all .3s;
}
header nav ul li a :active{
background: rgb(156, 156, 156);
border:2px solid rgb(156, 156, 156) ;

}
.product-card{
    display: flex;
    margin-top: 20px;
}
.product-card_info_title{
    display: flex;
    justify-content: space-between; /* относительно вертикальной оси выравнивает*/
}
.product-card_info{
    color: rgb(49, 49, 240);
    width: 100%;
font-weight: bold;
    margin-left: 20px;
    display: flex;
    flex-direction: column;

}
.product-card_image{ /*изменение размера картинки*/
    width: 150px;
    min-width: 150px;
    height: 150px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
    display: flex; /*блоки в строчку*/
    align-items: center; /* относительно горизонтальной оси выравнивает*/
}
.product-card_image img{ 
    max-width: 100%;
    max-height: 100%;
}
.product-card-info-btn{
    margin-top: auto;
    margin-left: auto;
    margin-bottom: 40px 0px;
    padding: 20px;
}
.product-card-info-btn a{
    border: 4px solid rgb(138, 43, 43);
    background-color: salmon;
    border-radius: 20px;
    text-decoration: none;
    font-size: 15px;
    display: block;
    color: black;
    padding: 10px;
    font-weight: bold;

}
.product-card-text p{
    font-weight: normal;
}

.container {
    width: 1000px;
    margin: 0px auto;
}

.catalog{
    background: #fff;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px 120px rgba(0,0,0, 0.5); /*тень*/
    transition: all 0.3s;

}
.catalog:hover{
    transition: all 0.3s;
    box-shadow: 10px 10px 40px rgba(0,0,0, 0.5);
}
